body {
background-color: blue;
}
h1 {
color: white;
font-family: "Arial";
}
h2 {
color: white;
font-family: "Arial";
}
h3 {
color: white;
font-family: "Arial";
}
h4 {
color: white;
font-family: "Arial";
}
p {
color: white;
font-family: "Arial";
}
a {
color: black;
font-family: "Arial";
}
li {
color: white;
font-family: "Arial";
}
